@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <header>
            <div class="toggle">
                <ui-toggler toggle-event="toggle-nav-event"><i class="fas fa-bars fa-2xl"></i></ui-toggler>
            </div>

            <div class="brand">
                TURBULENCE
            </div>

            <nav class="menu">
                <NavLink Match="NavLinkMatch.All" href="/">Home</NavLink>
            </nav>

            <div class="tools actions">
                <AuthorizeView>
                    <Authorized>
                        <a href="/logout">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="button ghost" href="/login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </header>
    </div>

    <div class="nav">
        <ui-toggled toggle-event="toggle-nav-event">
            <NavMenu />
        </ui-toggled>
    </div>

    <section class="gutter">
        @Body
    </section>

    <div class="footer">Footer</div>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
