<nav class="vertical">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="counter">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
    </NavLink>
    <NavLink class="nav-link" href="weather">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
    </NavLink>
    <NavLink class="nav-link" href="login?redirectUri=/">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
    </NavLink>
    <NavLink class="nav-link" href="auth">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Authentication Required
    </NavLink>
</nav>

