@inherits LayoutComponentBase
@layout AccountLayout

<section class="gutter">
    <h1>Manage your account</h1>
    <hr/>
    <h2>Change your account settings</h2>
    <div class="nav-content">
        <div>
            <ManageNavMenu />
        </div>
        <div>
            @Body
        </div>
    </div>
</section>
