@page "/"

<PageTitle>Home</PageTitle>


<section>
    <article class="content-container">
        <h1>Hello, world!</h1>

        <p>Welcome to your new app.</p>
        
        <div class="alert warning">
            <h4>Blazor WebAssembly is not supported on this browser.</h4>
            <p>For documentation and more information, please visit <a href="https://docs.microsoft.com/aspnet/core/blazor">Blazor</a></p>
        </div>
        
        <div class="actions"><button class="primary">Button</button></div>
    </article>
</section>
