@inherits LayoutComponentBase
@layout AccountLayout

<section class="with-gutter">
    <h1>Manage your account</h1>
    <p>Change your account settings</p>

    <div class="nav-content">
        <div>
            <ManageNavMenu />
        </div>
        <div>
            @Body
        </div>
    </div>
</section>