@using Microsoft.AspNetCore.Identity
@using TodoApp.Data.Auth

@inject SignInManager<ApplicationUser> SignInManager

<nav class="vertical">
    <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    <NavLink class="nav-link" href="Account/Manage/Email">Email</NavLink>
    <NavLink class="nav-link" href="Account/Manage/ChangePassword">Password</NavLink>
    @if (hasExternalLogins)
    {
        <NavLink class="nav-link" href="Account/Manage/ExternalLogins">External logins</NavLink>
    }
    <NavLink class="nav-link" href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</NavLink>
    <NavLink class="nav-link" href="Account/Manage/PersonalData">Personal data</NavLink>
</nav>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
